@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: white url('images/background.jpg') no-repeat;
  background-size: cover;
}

button[type='submit'] {
  background-color: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  padding: 14px 20px;
  text-transform: uppercase;
}
